In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
csvpath1 = "../../../../../Desktop/GTATL201908DATA3/02 - Homework/05-Matplotlib/Instructions/Pymaceuticals/data/clinicaltrial_data.csv"
csvpath2 = "../../../../../Desktop/GTATL201908DATA3/02 - Homework/05-Matplotlib/Instructions/Pymaceuticals/data/mouse_drug_data.csv"

In [17]:
clinic_df = pd.read_csv(csvpath1)
drug_df = pd.read_csv(csvpath2)

In [18]:
clinic_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [19]:
drug_df.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [20]:
combined_df = pd.merge(drug_df,clinic_df,on='Mouse ID')
combined_df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

In [21]:
drug_list = combined_df['Drug'].unique()
drug_list

array(['Stelasyn', 'Propriva', 'Naftisol', 'Ketapril', 'Capomulin',
       'Infubinol', 'Ceftamin', 'Zoniferol', 'Ramicane', 'Placebo'],
      dtype=object)

In [32]:
tumor_size_df = combined_df.groupby(['Drug','Timepoint'])
avg_tumor_size_l = tumor_size_df['Tumor Volume (mm3)'].mean()
avg_tumor_size_df = pd.DataFrame(avg_tumor_size_l)
print(avg_tumor_size_df.head())
avg_tumor_size_reset = avg_tumor_size_df.reset_index('Timepoint')
avg_tumor_size_reset_df = avg_tumor_size_reset.groupby('Drug')
# avg_tumor2_size_reset_df = avg_tumor_size_reset_df[]
#avg_tumor_size_reset.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325

In [39]:
stelasyn_df = avg_tumor_size_reset_df.loc['Stelasyn',:]

AttributeError: Cannot access callable attribute 'loc' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [34]:
avg_tumor_size_reset.plot('Timepoint',avg_tumor_size_df.loc['Capomulin',['Tumor Volume (mm3)']],marker='o')

ValueError: Must pass DataFrame with boolean values only